name: tests

on: [push, pull_request]

jobs:
    lint:
        name: Source code linting
        runs-on: ubuntu-latest
        steps:
            -
                uses: actions/checkout@v2

            -
                name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: 7.4
                    extensions: intl, mbstring, pdo_sqlite

            -
                name: Validate composer.json
                run: composer validate

            -
                name: Cache composer dependencies
                uses: actions/cache@v1
                with:
                    path: ~/.composer/cache
                    key: composer

            -
                name: Install composer dependencies
                run: composer install --prefer-dist --no-progress --no-suggest

            -
                name: PHP Linting
                run: composer lint:php

            -
                name: Editorconfig Linting
                run: composer lint:editorconfig


    unittest:
        runs-on: ubuntu-latest

        strategy:
            max-parallel: 2
            matrix:
                php-versions: [7.4, 7.3, 7.2]
                typo3-versions: [11, 10, 9]
                exclude:
                    -
                        php-versions: 7.3
                        typo3-versions: 11
                    -
                        php-versions: 7.2
                        typo3-versions: 11

        name: Unit (PHP ${{ matrix.php-versions }}, TYPO3 ${{ matrix.typo3-versions }})
        steps:
            -
                uses: actions/checkout@v2

            -
                name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php-versions }}
                    extensions: intl, mbstring, pdo_sqlite

            -
                name: Cache composer dependencies
                uses: actions/cache@v1
                with:
                    path: ~/.composer/cache
                    key: php-${{ matrix.php-versions }}-typo3-${{ matrix.typo3-versions }}

            -
                name: Install composer dependencies
                run: composer require typo3/minimal "^${{ matrix.typo3-versions }}" --prefer-dist --no-progress --no-suggest

            -
                name: Automated Unit Testing
                run: composer test:unit

    integrationtest:
        runs-on: ubuntu-latest

        strategy:
            max-parallel: 2
            matrix:
                php-versions: [7.4, 7.3, 7.2]
                typo3-versions: [11, 10, 9]
                exclude:
                    -   php-versions: 7.3
                        typo3-versions: 11
                    -   php-versions: 7.2
                        typo3-versions: 11

        name: Integration (PHP ${{ matrix.php-versions }}, TYPO3 ${{ matrix.typo3-versions }})
        steps:
            -
                uses: actions/checkout@v2

            -
                name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php-versions }}
                    extensions: intl, mbstring, pdo_sqlite

            -
                name: Cache composer dependencies
                uses: actions/cache@v1
                with:
                    path: ~/.composer/cache
                    key: php-${{ matrix.php-versions }}-typo3-${{ matrix.typo3-versions }}

            -
                name: Install composer dependencies
                run: composer require typo3/minimal "^${{ matrix.typo3-versions }}" --prefer-dist --no-progress --no-suggest

            -
                name: Automated Integration Testing
                run: composer test:integration
